@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:wght@500&display=swap');

body {
 background-image: url("https://previews.dropbox.com/p/thumb/ABVIq_Czhw5t8QqROL9ufH2FhjRhLS73JoeWqOFD225Hetho_bEe-4DtRCgznvN73BTLE6Ya3tVs7UtVNIMJ3MJ0mNPnZE61M03brE-xuRnV6-x7FAp9NQeAQvKtWWZLF2d0iGbYrqeUjAG6f3tq1eFrsKOAL6lTnpAzW2HWoIa-nNzx3mMHPajLfXMh7aLxeuCWLmn-LssjQZpJrle4KLO9LlduZz6ieQC4iUKrf4fmSquz58qBhaGkGm_nn5u-qsJ0dIpKStWST-fFcQhuhqr_U1jl5oJ2B47_bskJNY_qhnOZheBzjhGC72VEsvmi4tw9oSH1PfDFfUWqF8LzVwaMxYgg8MZa7L7gtiuQJ34diSl_0R7qwz-u8dbbHLSQt2tt8sCRLQdtBh8S-sHLABDOwlzSlX3YxTg1opLZt3QqccJUstEBNFCbcYwT1x0bxIipvOhZbmA_aY4hBpMGMtodADeXXPjT9r0jyvour1M4YiuY3W4iigWE1kuBm141n4K0TFH2fltd5cobN0_dmLowZkqr82jKP_vItnrEAGltrT58W5Cmvg4Yb_kcNivEjrcblPOsbHCpOQ964diEH340vtGLL7STgdvVppbHoBNDeiro9Ost1WCSD01sW4QsZ22L-8jZ_uBOuaVJJYfBqWZkvWmoCB5xy9jh0Aue9OeH2336sAFX2LADb3NzvroyBNHehHG89x1D9t5zNQZ2sLDX9CMI4gYtTWk9aZDszcXGZzXasgGUdOmjrTr-kPUzmXU7gSXuZPe7ftrS4oUMZ0gwb-SzyGJm3xBFM08Ukzfapa1M8tWCfb1NWfExnQn6gHU_hZfUfH0PZZrn0ndjjNWI4QDP1WTFvbr_CH6ROcP20XgUOwQSocN7mwlDED5oQs4OkffkYrxLMDsEXaHRegSkEuVRdYlwSZBeco_JkRvCDfLlXUIfH-5aj4xP7YHZWOjqzgmzYAobP-zaX9jIHXau/p.gif?fv_content=true&size_mode=5");
 background-position: center center;
 background-repeat: no-repeat; background-size: cover;
}



div.title {
  font-family: 'Ubuntu';
  color: white;
  font-size: 37.5px;
  border: solid;
  border-color: white;
  width: 465px;
}

div.subtitle {
  font-family: 'Oxygen';
  color: white;
  font-size: 20px;
  left: 183px;
  border: solid;
  border-color: green;
}

div.menu {
  position: relative;
  left: 193px;
  font-family: 'Oxygen';
  background-color: white;
  color: purple;
  border: solid;
  border-color: white;
  width: 272px;
}

div.index-description {
  font-family: 'Oxygen';
  color: white;
  background-color: red;
  width: 400px;
  font-size: 20px;
  border: solid;
  border-color: pink;
}

div.stu-container {
  width: 1050px;
  border: solid;
  border-color: orange;

}

div.student {
	  vertical-align: top;
	  display: inline-block;
	  /*left: auto; added this*/
	  margin: 10px;
	  width: 295px;
    height: auto;
	  text-align: left;
	  font-family: 'Oxygen';
	  font-size: 14px;
    background-color: white;
    color: white;
    padding: 10px;
}

div.about {
  position: relative;
  left: 193px;
  font-family: 'Oxygen';
  color: purple;
  background-color: white;
  width: 272px;
  font-size: 15px;
  border: solid;
  border-color: white;
}

div.research {
  position: relative;
  font-family: 'Oxygen';
  color: purple;
  background-color: white;
  width: 465px;
  font-size: 15px;
  border: solid;
  border-color: white;
}

div.examples {
  vertical-align: top;
  display: inline-block;
  /*left: auto; added this*/
  margin: 10px;
  width: 510px;
  height: auto;
  background-color: white;
  color: white;
  padding: 10px;
}


body {
  background-color: purple;
}

mark.one {
  color: red;
  background-color: white;
}

mark.two {
  color: white;
  background-color: purple;
}

mark.three {
  color: white;
  background-color: green;
}

mark.current {
  color: white;
  background-color: purple;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


a:link {
  text-decoration: none;
  color: purple;
}

a:link.two {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

img {
  object-fit: cover;
}

img.one {
  width: 290px;
  height: 290px;
  border: solid 1px;
  border-color: grey;
}

img.two {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
}

img.three {
  width: 500px;
  height: 500px;
  padding: 0px;
  margin: 0px;
  border: solid 1px;
  border-color: purple;
}
